#share-div {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  padding: 1.5rem;
  backdrop-filter: blur(12px);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 999;
  justify-content: center;
  align-items: center;

  > #share-content-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 10rem;
    background-color: var(--white);
    padding: 1rem;
    box-shadow: 0 0 2rem 1rem var(--border-color);
    border-radius: 1px;

    a {
      color-scheme: light;
      margin-top: 0.5rem;
      display: block;
      font-style: italic;
      color: var(--black);
    }

    img {
      image-rendering: pixelated;
    }
  }
}

fieldset {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  > div.field {
    text-transform: lowercase;
    display: flex;
    align-items: center;
    gap: 1rem;

    > legend,
    > div {
      flex-shrink: 0;
    }

    label {
      padding: 0.5rem;
      margin: -0.5rem;
    }

    > div {
      display: flex;
      gap: 1.5rem;
    }
  }
}

#chart > fieldset {
  text-transform: lowercase;
  flex-shrink: 0;
  margin: -0.5rem var(--negative-main-padding);
  padding: 0.75rem var(--main-padding);
  overflow-x: auto;
  min-width: 0;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  scrollbar-width: thin;
}
