@font-face {
  font-family: Lilex;
  src: url("/assets/fonts/Lilex[wght]-v2_620.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 700;
  font-display: block;
}
@font-face {
  font-family: Lilex;
  src: url("/assets/fonts/Lilex-Italic[wght]-v2_620.woff2") format("woff2");
  font-style: italic;
  font-weight: 100 700;
  font-display: block;
}
