[hidden] {
  display: none !important;
}

html,
body {
  background: var(--black);
}

html {
  scroll-behavior: smooth;
}

body {
  > main {
    color: white;
  }
}

main {
  min-height: 100dvh;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  body::before {
    transition: none;
  }
}
