[hidden] {
  display: none !important;
}

html,
body {
  background: var(--black);
}

body {
  > main {
    min-height: 100dvh;
    color: var(--white);
  }
}

::selection {
  color: var(--black);
  background-color: var(--orange);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--gray) transparent;
}
