main.wallets {
  > header {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: end;

    @media (max-width: 34rem) {
      justify-content: start;
    }

    > menu {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      justify-content: end;
      margin: 0;
      padding: 0;
      list-style: none;

      @media (max-width: 34rem) {
        justify-content: start;
      }
    }
  }

  > article {
    display: grid;
    gap: 1.5rem;
  }
}
