main.wallets {
  > header {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: end;

    @media (max-width: 34rem) {
      justify-content: start;
    }

    > div {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      justify-content: end;

      @media (max-width: 34rem) {
        justify-content: start;
      }

      > button {
        border-color: var(--orange);
        color: var(--black);
        background: var(--orange);
      }
    }
  }

  > section[aria-live] {
    display: grid;
    gap: 1.5rem;
  }
}
