dialog {
  --dialog-space: 1.5rem;

  width: min(100% - 2rem, 30rem);
  border: 0;
  border-radius: var(--dialog-space);
  padding: var(--dialog-space);
  color: var(--black);
  background: var(--white);

  &::backdrop {
    background: color-mix(in oklch, var(--black) 72%, transparent);
  }

  button {
    color: var(--white);
    background: var(--gray);

    &:hover {
      color: var(--white);
      background: var(--black);
    }

    &:active {
      color: var(--white);
      background: var(--orange);
    }
  }
}
