main.wallets {
  .wallets__setup {
    display: grid;
    gap: 1rem;
    place-content: center;
    width: min(100%, 36rem);
    min-height: calc(100dvh - 2 * var(--offset));
    margin-inline: auto;

    h1 {
      margin: 0;
      text-align: center;
      font-size: 5rem;
      font-weight: 400;
      line-height: 0.9;

      @media (max-width: 56rem) {
        font-size: 4rem;
      }

      @media (max-width: 34rem) {
        font-size: 3rem;
      }
    }

    p {
      margin: 0;
    }

    > article {
      display: grid;
      gap: 0.75rem;
      color: var(--gray);
      font-size: var(--font-size-sm);
      line-height: var(--line-height-sm);
      text-align: left;
    }

    > form {
      display: grid;
      grid-template-columns: minmax(0, 1fr) auto;
      gap: 0.75rem;
      align-items: end;
      width: 100%;

      @media (max-width: 34rem) {
        grid-template-columns: 1fr;
      }
    }
  }
}
