[package]
name = "brk_server"
description = "A server with an API for anything from BRK"
version.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
exclude = ["examples/", "src/api/scalar.js"]

[features]
bindgen = ["dep:brk_bindgen"]

[dependencies]
aide = { workspace = true }
axum = { workspace = true }
brk_bindgen = { workspace = true, optional = true }
brk_computer = { workspace = true }
brk_error = { workspace = true, features = ["jiff", "serde_json", "tokio", "vecdb"] }
brk_indexer = { workspace = true }
brk_logger = { workspace = true }
brk_query = { workspace = true }
brk_reader = { workspace = true }
brk_rpc = { workspace = true, features = ["corepc"] }
brk_types = { workspace = true }
brk_traversable = { workspace = true }
brk_website = { workspace = true }
derive_more = { workspace = true }
vecdb = { workspace = true }
jiff = { workspace = true }
quick_cache = "0.6.18"
schemars = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
tower-http = { workspace = true }
tower-layer = { workspace = true }

[dev-dependencies]
brk_mempool = { workspace = true }
