main.wallets {
  .wallets__empty {
    display: grid;
    gap: 1rem;
    place-content: center;
    min-height: calc(100dvh - 2 * var(--offset));
    text-align: center;

    p {
      margin: 0;
    }
  }
}
