main.wallets {
  .wallets__empty {
    display: grid;
    gap: 1rem;
    place-content: center;
    min-height: 16rem;
    text-align: center;

    p {
      margin: 0;
    }

    > button {
      border-color: var(--orange);
      color: var(--black);
      background: var(--orange);
    }
  }
}
